// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  text-decoration: none;
}

h3 {
  font-weight: none;
  text-decoration: none;
}

input {

}

.container {
  padding: 5px;
  margin: 3px;
}

.card {
  border-left: 4px, gray;
  padding-left: 5px;
}
